
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();

// Creating a Material theme
$app-primary: mat-palette($mat-grey, 900);
$app-accent:  mat-palette($mat-amber, 500, 900, A100);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);


/* Global Styles */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space {
    flex: 1 1 auto;
    text-align: center;
}

.typography-container {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    max-width: 650px;
    margin: 0 auto;
}

.typography-container a {
    color: #FFC23D;
}
