<mat-card class="content-card">
  <mat-card-header>
    <img mat-card-avatar
         class="link-image"
         src="{{avatarImgSrc}}"
         alt="{{subtitle}}"
         (click)="onClick()"
        >
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <a (click)="onClick()">
    <img mat-card-image class="link-image" src="{{imgSrc}}" alt="{{subtitle}}">
  </a>
  <mat-card-content>
    <p>
      {{ paragraph }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex></div>
      <button mat-button
              color="accent"
              (click)="onClick()"
             > {{ buttonText }} </button>
  </mat-card-actions>
</mat-card>
