docker-compose.ecs.yml
*docker-compose.ecs.yml
*docker-compose.ecs-dev.yml

.coverage

secrets.py
.envs
static/*

.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.pyc
**/__pycache__

/angular-app/dist
/angular-app/tmp
/angular-app/out-tsc

/angular_app/node_modules
