<div class="search-panel">
  <div *ngIf="!detailPanelOpen">
    <mat-form-field class="form-field" appearance="outline" color="accent">
      <input matInput color="warn">
      <mat-label>
        Search address or place name
      </mat-label>
      <button matSuffix mat-icon-button aria-label="Execute search">
          <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
  </div>


  <mat-expansion-panel (opened)="detailPanelOpen = true;"
                      (closed)="detailPanelOpen = false;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Detailed search
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="detailed-form-field" color="accent">
      <input matInput placeholder="Street address">
    </mat-form-field>

    <mat-form-field class="detailed-form-field" color="accent">
      <input matInput placeholder="City">
    </mat-form-field>

    <mat-form-field class="detailed-form-field" color="accent">
      <input matInput value="NY" placeholder="State">
    </mat-form-field>

    <mat-form-field class="detailed-form-field" color="accent">
      <input matInput value="USA" placeholder="Country">
    </mat-form-field>

    <button mat-raised-button class="center-button">Search</button>
  </mat-expansion-panel>

  <div *ngIf="driveTimeQueriesData">
    <mat-expansion-panel
      (opened)="pastPanelOpen = true;"
      (closed)="pastPanelOpen = false;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Past searches
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <button mat-list-item
                matTooltip="{{ name.longName }}"
                matTooltipShowDelay="1000"
                *ngFor="let name of driveTimeQueriesText">
          {{ name.shortName }}
        </button>
      </mat-action-list>
    </mat-expansion-panel>
  </div>

</div>