mat-panel-title {
    color: #FFC23D;
}

.accordion-container {
    padding: 10px;
}

.search-panel {
    width: 335px;
    height: 98%;
}

.space-below {
    padding-bottom: 5px;
}

.space-above {
    padding-top: 5px;
}

.tools {
    width: 325px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

.form-container {
    width: 100%;
}

.form-field {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.form-validation {
    color: #F4443E;
    padding-bottom: 10px;
    padding-left: 10px;
}

.detailed-form-field {
    width: 280px;
    margin: 0 auto;
    display: block;
}

.form-button {
    padding-left: 3px;
}

.center-button {
    margin: 0 auto;
    display: block;
    width: 250px;
}

.center-spinner {
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pad-button {
    padding-bottom: 8px;
}

.selection-input {
    /* margin: 0 auto; */
    /* text-align: center; */
    /* display: block;  */
    padding-left: 75px;
}

.small-font {
    font-size: 0.9em;
}