<mat-toolbar color="primary">
  
  <div *ngIf="sidenavOpen; else elseBlock">
      <button mat-icon-button (click)="toggleSidenav();" aria-label="Toggle search panel">
        <mat-icon>close</mat-icon>
      </button>
  </div>
  <ng-template #elseBlock>
    <button mat-icon-button (click)="toggleSidenav();" aria-label="Toggle search panel">
      <mat-icon>search</mat-icon>
    </button>
  </ng-template>

  <span class="fill-remaining-space">Inspection Planner Application (IPA)</span>

  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</mat-toolbar>
