tr.table-row:hover {
    background-color: #212121;
}

.align-right {
    text-align: right !important;
    justify-content: flex-end;
}

.center-spinner {
    margin: 0 auto;
}

.spinner-container {
    margin-top: 20px;
}
