<table mat-table *ngIf="bridgeDataSource" [dataSource]="bridgeDataSource">
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let bridge"> {{ bridge.id }}</td>
    </ng-container>

    <ng-container matColumnDef="bin">
        <th mat-header-cell *matHeaderCellDef> BIN </th>
        <td mat-cell *matCellDef="let bridge"> {{ bridge.properties.bin }}</td>
    </ng-container>

    <ng-container matColumnDef="inspection">
        <th mat-header-cell *matHeaderCellDef> Last Inspection </th>
        <td mat-cell *matCellDef="let bridge"> {{ bridge.properties.inspection }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Common Name </th>
        <td mat-cell *matCellDef="let bridge"> {{ bridge.properties.common_name }}</td>
    </ng-container>

    <ng-container matColumnDef="county">
        <th mat-header-cell *matHeaderCellDef> County Name </th>
        <td mat-cell *matCellDef="let bridge"> {{ bridge.properties.county_name }}</td>
    </ng-container>

    <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef> Primary Owner </th>
        <td mat-cell *matCellDef="let bridge"> {{ bridge.properties.primary_owner }}</td>
    </ng-container>

    <ng-container matColumnDef="aadt">
        <th mat-header-cell *matHeaderCellDef> Annual Average Daily Traffic </th>
        <td mat-cell *matCellDef="let bridge"> {{ bridge.properties.aadt }}</td>
    </ng-container>

    <ng-container matColumnDef="structure">
        <th mat-header-cell *matHeaderCellDef> Main Span Structure </th>
        <td mat-cell *matCellDef="let bridge"> {{ bridge.properties.gtms_structure }}</td>
    </ng-container>

    <ng-container matColumnDef="materials">
        <th mat-header-cell *matHeaderCellDef> Main Span Materials </th>
        <td mat-cell *matCellDef="let bridge"> {{ bridge.properties.gtms_mater }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="table-row"
        (click)="onClick(row)"
        ></tr>
</table>