
<form [formGroup]="omniSearchForm">
  <mat-form-field class="form-field"
                  appearance="outline"
                  color="accent">
    <input matInput
          formControlName="searchText"
          >
    <mat-label>
      Search address, BIN, or place name
    </mat-label>
    <button matSuffix
            mat-icon-button
            (click)="onSearch()"
            aria-label="Execute search"
            [disabled]="this.omniSearchForm.invalid || loading"
          >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>

<mat-spinner *ngIf="loading" class="center-spinner" color="accent" diameter="50"></mat-spinner>

<div *ngIf="omniSearchForm.invalid && omniSearchForm.touched">
  <section class="mat-typography form-validation">
      *An address, BIN, or place name is required.
  </section>
</div>