<section class="mat-typography settings-container"
         (window:resize)="onResize($event)"
        >
  <mat-card class="example-card mat-elevation-z8">
    <mat-card-header>
      <img mat-card-avatar src="assets/color_lens.png" alt="color lens">
      <mat-card-title> Map Style Settings </mat-card-title>
      <mat-card-subtitle> Symbology Options </mat-card-subtitle>
    </mat-card-header>

    <div mat-card-image style="height: 200px;">
      <app-open-layers-map [mapView]="mapView"
                           [loading$]="loading$"
                           [bridges$]="bridges$"
                           [searchMarkers$]="searchMarkers$"
                           [position$]="position$"
                           [colormap$]="colormap$"
                           (bbox)="onMapMove($event)"
                          ></app-open-layers-map>
    </div>

    <mat-card-content>
      <mat-tab-group color="accent">

        <mat-tab label="Numeric Fields">
          <div class="content"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="25px"
              style="padding: 15px;"
              >
            <div fxFlex="50" class="content-column" style="min-width: 200px;">
              <app-symbology-form></app-symbology-form>
            </div>
            <div fxFlex="50" style="min-width: 200px;">
              <app-symbology-preview [colormap$]="colormap$"></app-symbology-preview>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Categorical Fields">
          <div class="content"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="25px"
              >
            <div fxFlex="50" class="content-column" style="min-width: 200px;">
              <app-symbology-form></app-symbology-form>
            </div>
            <div fxFlex="50" style="min-width: 200px;">
              Does this actually require a new preview component?
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <!-- <mat-card-actions>
      <span class="fill-remaining-space"></span>
      <button mat-button>Cancel</button>
      <button mat-button color="accent">Save</button>
    </mat-card-actions> -->
  </mat-card>  
</section>
