<div class="space-above">
  <section class="mat-typography space-below">
    Search the map for an address. All fields are optional.
  </section>
  
  <form [formGroup]="osmFilterForm" (keydown.enter)="onSearch()">
    <mat-form-field class="detailed-form-field" color="accent">
      <input matInput formControlName="streetAddress" placeholder="Street address">
    </mat-form-field>
  
    <mat-form-field class="detailed-form-field" color="accent">
      <input matInput formControlName="city" placeholder="City">
    </mat-form-field>
  
    <mat-form-field class="detailed-form-field" color="accent">
      <input matInput formControlName="state" placeholder="State">
    </mat-form-field>
  
    <mat-form-field class="detailed-form-field" color="accent">
      <input matInput formControlName="country" placeholder="Country">
    </mat-form-field>
  </form>
  
  <mat-spinner *ngIf="loading" class="center-spinner" diameter="50" color="accent"></mat-spinner>
  
  <div class="center-button">
    <button mat-flat-button
            class="search-button"
            color="primary"
            (click)="onSearch()"
          > Search </button>
  </div>
</div>  
