.detailed-form-field {
    width: 280px;
    margin: 0 auto;
    display: block;
}

.center-button {
    margin: 0 auto;
    display: block;
    width: 250px;
}

.center-spinner {
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.space-below {
    padding-bottom: 5px;
}
