<div fxFlexFill
     fxLayout="column"
     fxLayoutAlign="start none"
     class="full-height">

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex>
      <app-navbar></app-navbar>
    </div>
  </div>

  <mat-sidenav-container>

    <mat-sidenav #leftSidenav mode="side" opened class="search-panel">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>
        
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>

        <p>
            this is it<br>
            this is it<br>
            this is it<br>
            this is it<br>
            this is it<br>
            this is it<br>
            this is it<br>
        </p>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div fxFlex leaflet [leafletOptions]="options" class="full-height"> </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>