<div fxFlexFill
     fxLayout="column"
     fxLayoutAlign="start none"
     >
  <app-navbar [sidenavState$]="sidenavState$"
              (sidenavAction)="onSidenavAction($event)"
              ></app-navbar>
  <mat-sidenav-container fxFlex hasBackdrop="false">
    <mat-sidenav #sidenav
                 disableClose
                 mode="side"
                 (keydown.escape)="escape($event)"
                 (document:keydown.f)="fKey($event)"
                 >
      <app-search-display></app-search-display>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <simple-notifications></simple-notifications>
</div>
