<div>
  <mat-toolbar color="primary">
    <div class="button-container" fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="sidenavState$ | async as sidenavVisible; else sidenavClosed">
        <div *ngIf="(notificationCount$ | async) as notificationCount; else zeroNotificationsClosedSidenav">
          <button mat-icon-button
                  (click)="closeSidenav()"
                  aria-label="Toggle search panel"
                  matTooltip="Close search panel (try using 'esc' key)"
                  matTooltipShowDelay="250"
                  matBadgeColor="accent"
                  [matBadge]="notificationCount"
                  matBadgePosition="before"
                > <mat-icon>close</mat-icon> </button>
        </div>
        <ng-template #zeroNotificationsClosedSidenav>
          <button mat-icon-button
                  (click)="closeSidenav()"
                  aria-label="Toggle search panel"
                  matTooltip="Close search panel (try using 'esc' key)"
                  matTooltipShowDelay="250"
                  matBadgeColor="accent"
                > <mat-icon>close</mat-icon> </button>
        </ng-template>
      </div>
      <ng-template #sidenavClosed>
        <div *ngIf="(notificationCount$ | async) as notificationCount; else zeroNotifications">
          <button mat-icon-button
                  (click)="openSidenav()"
                  aria-label="Toggle search panel"
                  matTooltip="Open search panel (try using 'f' key)"
                  matTooltipShowDelay="250"
                  matBadgeColor="accent"
                  [matBadge]="notificationCount"
                  matBadgePosition="before"
                > <mat-icon>search</mat-icon> </button>
        </div>
        <ng-template #zeroNotifications>
          <button mat-icon-button
                  (click)="openSidenav()"
                  aria-label="Toggle search panel"
                  matTooltip="Open search panel (try using 'f' key)"
                  matTooltipShowDelay="250"
                  matBadgeColor="accent"
                > <mat-icon>search</mat-icon> </button>
        </ng-template>
      </ng-template>  

      <div *ngIf="!markerClusterShowing && longTitle !== 'Inspection Planner Application'">
        <button mat-icon-button
                matTooltip="Return to browsable map"
                routerLink="/"
                queryParamsHandling="merge"
               > <mat-icon> home </mat-icon> </button>
      </div>

      <div *ngIf="!markerClusterShowing; else markerCluster">
        <div *ngIf="settingsOpen$ | async as settingsVisible; else settingsClosed">
          <button mat-icon-button
                  matTooltip="Go back to the browse bridges page"
                  matTooltipShowDelay="250"
                  routerLink="/"
                  queryParamsHandling="preserve"
                > <mat-icon> home </mat-icon> </button>
        </div>
        <ng-template #settingsClosed>
          <button mat-icon-button
                  matTooltip="Customize the map symbology"
                  matTooltipShowDelay="250"
                  routerLink="/map-settings"
                  queryParamsHandling="preserve"
                > <mat-icon> color_lens </mat-icon> </button>
        </ng-template>
      </div>
      <ng-template #markerCluster>
        <button mat-icon-button
                matTooltip="Go back to the browse bridges page"
                matTooltipShowDelay="250"
                routerLink="/"
                queryParamsHandling="preserve"
              > <mat-icon> home </mat-icon> </button>
      </ng-template>
  
      <div *ngIf="!markerGalleryShowing">
        <button mat-icon-button
                matTooltip="Change map type"
                aria-label="Map gallery"
                routerLink="/map-settings/gallery"
                queryParamsHandling="merge"
              >
          <mat-icon>map</mat-icon> 
        </button>
      </div>  
    </div>
    <span fxHide fxShow.gt-xs class="fill-remaining-space">
      {{ longTitle }}
    </span>
    <span fxHide fxShow.lt-sm class="fill-remaining-space"></span>

    <div class="button-container" fxLayout="row" fxLayoutAlign="end center">
      <!-- <div fxFill></div> -->
      <div *ngIf="!markerClusterShowing">
        <div *ngIf="tableOpen$ | async as tableOpen; else tableClosed">
          <button mat-icon-button
                  matTooltip="Close attribute table of bridge features"
                  aria-label="Close attribute table of bridges"
                  color="accent"
                  (click)="closeTable()"
                >
            <mat-icon>table_chart</mat-icon> 
          </button>
        </div>
        <ng-template #tableClosed>
          <button mat-icon-button
                  matTooltip="Show attribute table of bridge features"
                  aria-label="Show attribute table of bridges"
                  (click)="openTable()"
                >
            <mat-icon>table_chart</mat-icon> 
          </button>
        </ng-template>
      </div>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" aria-label="Main menu">
        <a mat-menu-item href="https://openstreetmap.org" aria-label="Navigate to open street map website"> OpenStreetMap.org </a>
        <a mat-menu-item href="https://timelinetamer.com" aria-label="Navigate to timeline tamer website"> TimelineTamer.com </a>
        <a mat-menu-item href="https://andrew.vitale.timelinetamer.com" aria-label="Visit author's website"> About the Author </a>
        <a mat-menu-item href="https://github.com/vitale232/InspectionPlanner" aria-label="Navigate to source code on github"> Source Code </a>
        <mat-divider></mat-divider>
        <a mat-menu-item href="mailto:inspection.planner.application@gmail.com" aria-label="Send us an email"> Contact Us </a>
      </mat-menu>  
    </div>
  </mat-toolbar>
</div>
