<div class="gallery-container">
  <mat-grid-list [cols]="nColumns"
                rowHeight="525px"
                gutterSize="20px"
                (window:resize)="onResize($event)"
                >
    <mat-grid-tile *ngFor="let card of cardsContent">
      <app-content-card [title]="card.title"
                        [subtitle]="card.subtitle"
                        [avatarImgSrc]="card.avatarImgSrc"
                        [imgSrc]="card.imgSrc"
                        [paragraph]="card.paragraph"
                        [buttonText]="card.buttonText"
                        [link]="card.link"
                      > </app-content-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
