.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > * {
    width: 100%;
}

.loading-padding {
    padding-left: 30px;
    padding-top: 5px;
}

.button-container {
    padding-top: 5px;
}

.toggle{
    padding-top: 3px;
    padding-bottom: 15px;
}
