.center-spinner {
    margin: 0 auto;
}

.grid-container {
    width: 100%;
    height: 100%;
}

.grid {
    height: 100%;
}

.pbl-ngrid-ui-block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-container {
    padding: 15px 15px;
}

.help-buttons {
    padding-bottom: 5px;
}
