<pbl-ngrid id="browse-bridges-grid"
           matHeaderContextMenu="excelMenu"
           rowReorder
           columnReorder
           blockUi
           matSort
           vScrollFixed
           cellTooltip
           focusMode="cell"
           [dataSource]="mapBridgesDataSource"
           [columns]="columns"
           (cellClick)="$event.context && $event.context.startEdit()"
           class="grid pbl-ngrid-cell-ellipsis pbl-ngrid-header-cell-ellipsis"
          >

  <div *pblNgridOuterSection="'bottom'" class="typography-container mat-typography">
    Tabulated {{ mapBridgesDataSource.length }} bridges
  </div>

</pbl-ngrid>
