.search-panel {
    width: 375px;
    height: 98%;
}

.accordion-container {
    padding: 10px;
    overflow-x: hidden;
}

mat-panel-title {
    color: #FFC23D;
}

.tools {
    width: 375px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

.tab-group {
    overflow-x: hidden;
}

.loading-indicator {
    padding-left: 20px;
}
