<div class="search-panel" *ngIf="defaultSearch; else markerClusterSearch">
  <div class="tools"
       fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutGap="2px"
      >
    <button mat-stroked-button
          color="accent"
          matTooltip="Map my current location"
          matTooltipShowDelay="500"
          (click)="onSendClientLocation()"
          aria-label="Plot current location on map"
          >
      <mat-icon>location_searching</mat-icon>
    </button>

    <button mat-stroked-button
            color="accent"
            matTooltip="Center map on New York State"
            matTooltipShowDelay="500"
            (click)="onSendMapHome()"
            aria-label="Return map to default position"
            >
      <mat-icon>zoom_out</mat-icon>
    </button>

    <button mat-stroked-button
            color="accent"
            matTooltip="Clear search markers"
            (click)="onClearMarkers()"
            aria-label="Remove search result markers from map"
            >
      <mat-icon>layers_clear</mat-icon>
    </button>

    <button mat-stroked-button
              matTooltip="Customize the map symbology"
              (click)="onMapSettings()"
              color="accent"
            > 
      <mat-icon>color_lens</mat-icon>
    </button>
    <button mat-stroked-button
            matTooltip="Go to the map gallery"
            (click)="onMapGallery()"
            color="accent"
          >
      <mat-icon> map </mat-icon>
    </button>
  </div>

  <div class="accordion-container">
    <mat-accordion>
  
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Search the Map
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-omni-search-form></app-omni-search-form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Drive Time Search
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-drive-time-form [driveTimeQueries$]="driveTimeQueries$"
                            [markerClusterRoutes]="false"
                            ></app-drive-time-form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Search with Filters
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="tab-group">
          <mat-tab-group color="accent" class="space-above">
            <mat-tab label="Map"> <app-osm-filters-form></app-osm-filters-form> </mat-tab>
            <mat-tab label="Bridges"> <app-bridge-filters-form></app-bridge-filters-form> </mat-tab>
          </mat-tab-group>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (afterExpand)="onHistoryClick()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Drive Time Search History
            <div *ngIf="(notificationCount$ | async) as notificationCount;" class="notification-text">
              {{notificationCount}} new!
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-search-history [driveTimeQueries$]="driveTimeQueries$"></app-search-history>
      </mat-expansion-panel>
  
    </mat-accordion>
  </div>
</div>

<ng-template #markerClusterSearch>
  <div class="search-panel">
    <app-cluster-drive-time-form></app-cluster-drive-time-form>
  </div>
</ng-template>
