<!-- <div class="splitter-container" (window:resize)="onResize($event)">
  <as-split [direction]="splitterOrientation">
    <as-split-area size="70"> -->
      <div leaflet class="full-height"
          [(leafletZoom)]="mapZoom"
          [(leafletCenter)]="mapCenter"
          [leafletLayers]="layers"
          [leafletLayersControl]="layersControl"
          (leafletZoomChange)="onZoomChange($event)"
          (leafletMapMoveEnd)="onMapMove($event)"
          (leafletMapReady)="onMapReady($event)">
      </div>
   
    <!-- </as-split-area>
    <as-split-area size="30">B</as-split-area>
  </as-split>
</div> -->
