<div class="search-panel">

  <div class="tools">
    <button mat-stroked-button
          color="accent"
          matTooltip="Map my current location"
          matTooltipShowDelay="500"
          (click)="sendClientLocation()"
          aria-label="Plot current location on map"
         >
      <mat-icon>location_searching</mat-icon>
    </button>

    <button mat-stroked-button
            color="accent"
            matTooltip="Center map on New York State"
            matTooltipShowDelay="500"
            (click)="sendMapHome()"
            aria-label="Return map to default position"
           >
      <mat-icon>home</mat-icon>
    </button>

    <button mat-stroked-button
            color="accent"
            matTooltip="Clear search markers"
            (click)="onClearMarkers()"
            aria-label="Remove search result markers from map"
           >
      <mat-icon>layers_clear</mat-icon>
    </button>
  </div>

  <div class="accordion-container">
    <mat-accordion>
  
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Search the Map </mat-panel-title>
        </mat-expansion-panel-header>
        <app-omni-search-form></app-omni-search-form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Drive Time Search </mat-panel-title>
        </mat-expansion-panel-header>
        <app-drive-time-form [driveTimeQueries$]="driveTimeQueries$"></app-drive-time-form>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Search Filters </mat-panel-title>
        </mat-expansion-panel-header>
        <app-osm-filters-form></app-osm-filters-form>
      </mat-expansion-panel>
  
    </mat-accordion>
  </div>
</div>
