<div class="search-panel">

  <div class="accordion-container">
    <mat-accordion>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> OmniSearch </mat-panel-title>
        </mat-expansion-panel-header>
        <app-omni-search-form></app-omni-search-form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Drive Time Search </mat-panel-title>
        </mat-expansion-panel-header>
        <app-omni-search-form></app-omni-search-form>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Search Filters </mat-panel-title>
        </mat-expansion-panel-header>
        <app-osm-filters-form></app-osm-filters-form>
      </mat-expansion-panel>
  
    </mat-accordion>
  </div>
</div>
