.button-container {
    padding-top: 15px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.selection-column {
    width: 50px;
    text-align: center;
}

.center-text {
    text-align: center;
}

.pointer-cursor {
    cursor: pointer;
}

.value-cell {
    padding-left: 8px;
}

.content-column {
    min-width: 200px;
}

.content-categorical {
    min-width: 250px;
}

.center-text {
    text-align: center;
    min-height: 200px;
}
