<div class="content-categorical"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="25px"
    >
  <div fxFlex="50" class="content-column">
    <div fxLayoutAlign="center center">
      <mat-form-field color="accent" class="full-width">
        <mat-label> Bridge Attribute for Symbology</mat-label>
        <mat-select [formControl]="fieldControl">
          <mat-option *ngFor="let field of fieldOptions"
                      [value]="field.value"
                      > {{ field.viewOption }} </mat-option>
        </mat-select>
        <mat-error *ngIf="fieldControl.invalid">
          A field is required
        </mat-error>
      </mat-form-field>
      <button mat-button
              color="accent"
              matTooltip="Generate symbology for selected field"
              [disabled]="fieldControl.invalid"
              (click)="onPreview()"
            > Preview </button>
    </div>

    <div *ngIf="tableDataSource"
         fxLayout="row"
         fxLayoutGap="10px"
         fxLayoutAlign="center center"
         class="button-container"
        >
      <button mat-button
              type="button"
              color="accent"
              matTooltip="Return to last map"
              matTooltipShowDelay="250"
              (click)="onClose()"
            > Close </button>
      <button mat-button
              type="button"
              color="accent"
              matTooltip="Restore default colormap"
              matTooltipShowDelay="250"
              (click)="onRestoreDefault()"
            > Restore Default </button>
      <button mat-flat-button
              type="submit"
              color="accent"
              matTooltip="Apply the colormap"
              matTooltipShowDelay="250"
              [disabled]="!tableDataSource"
              (click)="onApply()"
              > Apply </button>
    </div>

    <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center" class="pad-top-bottom">
      <mat-spinner color="accent" diameter="50"></mat-spinner>
    </div>
    <div *ngIf="fieldControl.value === 'political_field'" class="warning-container pad-top">
      <section class="mat-typography warning-content">
        <h2 class="warning">Warning</h2>
        <p>
          Do not attempt to symbolize all municipalities at once. There are almost 1400 
          municipalities in this dataset, and applying that many styles to the map will 
          result in <strong>performance issues</strong> and may result in a 
          <strong>browser crash</strong>.
        </p>
      </section>
    </div>
  </div>
  <div fxFlex="50" class="content-column">
    <table mat-table *ngIf="tableDataSource" [dataSource]="tableDataSource">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="selection-column">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                      >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="selection-column">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                      >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="rgb">
        <th mat-header-cell *matHeaderCellDef> Colormap </th>
        <td mat-cell *matCellDef="let row" class="pointer-cursor"
            [style.background-color]="row.rgb"
            matTooltip="Click to change color"
          >
          <mat-form-field matLine>
            <input matInput
                  readonly="readonly"
                  [(colorPicker)]="row.rgb"
                  [style.background]="row.rgb"
                  [cpPosition]="'bottom'"
                  [cpOKButton]="true"
                  [cpCancelButton]="true"
                  placeholder="{{row.rgb}}"/>
          </mat-form-field>
          </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> {{fieldControl.value ? fieldControl.value : "Value"}} </th>
        <td mat-cell *matCellDef="let row" class="value-cell"> {{row.value}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>

    <!-- Use hidden instead of ngIf on the paginator. Hidden allows the paginator to instantiate
         at the same time as the rest of the view and adds it to the DOM, but hides it from the user.
         If you try to use ngIf for this purpose, the paginator will be null at creation, thus it will
         not attach to the MatTableDataSource correctly. -->
    <mat-paginator [style.visibility]="hidePaginator ? 'hidden': 'visible'" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    <!-- <mat-paginator *ngIf="tableDataSource" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator> -->

    <div fxShow fxHide.xs *ngIf="!tableDataSource" fxLayoutAlign="center center" class="center-text">
      No preview available.
    </div>
    <div fxHide fxShow.xs *ngIf="!tableDataSource" fxLayoutAlign="center center">
      No preview available.
    </div>
  </div>
</div>
