.center-text {
    text-align: center;
    min-height: 200px;
}

.warning {
    color: rgb(244,68,62);
}

.warning-container {
    outline-style: dotted;
    outline-width: 2px;
    outline-color: rgb(244,68,62);
    border-radius: 40px;
}

.warning-content {
    padding: 7px;
}
