<div *pblNgridBlockUiDef class="pbl-ngrid-ui-block">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>

<pbl-ngrid id="newYorkBridgeGrid" persistState
            matHeaderContextMenu="excelMenu"
            columnReorder
            blockUi
            matSort
            vScrollFixed
            cellTooltip
            targetEvents
            clipboard
            clpCellSep="," clpRowSep="\n\n\n"
            focusMode="cell"
            [dataSource]="useMapExtent ? mapBridgesDataSource : allBridgesDataSource"
            [columns]="columns"
            (cellClick)="cellClick($event)"
            class="grid pbl-ngrid-cell-ellipsis pbl-ngrid-header-cell-ellipsis"
            >
    <!-- <div *pblNgridCellTypeDef="'number'; value as value;">{{value | number:'1.2-2'}}</div> -->
    <div *pblNgridHeaderCellTypeDef="'zoom_to_icon'"></div>
    <div *pblNgridCellTypeDef="'zoom_to_icon'; value as value">
        <mat-icon>gps_fixed</mat-icon>
    </div>
    <!-- <div *pblNgridCellTypeDef="'number'">123<div> -->
    <div *pblNgridOuterSection="'top'">
        <mat-toolbar>
            <button mat-icon-button
                    (click)="refresh()"
                    matTooltip="Refresh grid data"
                    >
                    <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button
                    (click)="refresh()"
                    matTooltip="Copy selected grid cells"
                    >
                    <mat-icon>file_copy</mat-icon>
            </button>
            <button mat-icon-button
                    aria-label="Clear bridge selections"
                    (click)="clearBridgeSelections()"
                    matTooltip="Clear bridge selections from the map"
                    >
                    <mat-icon>layers_clear</mat-icon>
            </button>
            <button mat-icon-button
                    aria-label="Show help text for grid"
                    (click)="toggleShowHelpText()"
                    matTooltip="Show help text"
                    > <mat-icon>help_outline</mat-icon>
            </button>
            <!-- <button mat-icon-button><mat-icon>gps_fixed</mat-icon></button>   -->
            <span class="fill-remaining-space"></span>
            <button mat-icon-button
                    aria-label="Close table screen split"
                    (click)="closeTable()"
                    matTooltip="Close table"
                    > <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <section class="mat-typography help-container">
            <div *ngIf="showHelpText">
                <button mat-button
                        class="help-button"
                        color="accent"
                        (click)="toggleShowHelpText()"
                        matTooltip="Temporarily close help text. It can be toggled with the question mark icon.">
                    <mat-icon>close</mat-icon> Dismiss
                </button>
                <button mat-button
                        class="help-button"
                        *ngIf="showHelpCookieValue"
                        color="warn"
                        (click)="writeDismissHelpCookie()"
                        matTooltip="This can be undone by clearing cookies">
                    <mat-icon>close</mat-icon> Dismiss Forever
                </button>
            </div>
            <app-bridge-grid-outer-section *ngIf="showHelpText"></app-bridge-grid-outer-section>
            <mat-checkbox (click)="toggleUseMapExtent()">Show all bridges for this drive time search</mat-checkbox>
        </section>
    </div>
    <div *pblNgridOuterSection="'bottom'" class="typography-container mat-typography">
        <div *ngIf="useMapExtent; else allBridges">
            Tabulated {{ mapBridgesDataSource.length }} bridges
        </div>
        <ng-template #allBridges>
            Tabulated {{ allBridgesDataSource.length }} bridges
        </ng-template>
    </div>
</pbl-ngrid>
