<pbl-ngrid id="newYorkBridgeGrid" persistState
            matHeaderContextMenu="excelMenu"
            rowReorder
            columnReorder
            blockUi
            matSort
            vScrollFixed
            cellTooltip
            matCheckboxSelection="selection"
            focusMode="cell"
            [dataSource]="bridgesDataSource"
            [columns]="columns"
            (cellClick)="$event.context && $event.context.startEdit()"
            class="grid pbl-ngrid-cell-ellipsis pbl-ngrid-header-cell-ellipsis"
            >
    <div *pblNgridOuterSection="'top'">
        <mat-toolbar>
            <div *ngIf="useMapExtent">
                <button mat-icon-button
                        color="warn"
                        matTooltip="Use map extent to populate table"
                        (click)="useMapExtent = false"
                        >
                    <mat-icon>map</mat-icon>
                </button>
            </div>
            <div *ngIf="!useMapExtent">
                <button mat-icon-button
                        matTooltip="Use map extent to populate table"
                        (click)="useMapExtent = true"
                        >
                    <mat-icon>map</mat-icon>
                </button>
            </div>
            <p>useMapExtent: {{useMapExtent}}</p>    
            <span class="fill-remaining-space"></span>
            <button mat-icon-button
                    aria-label="Close table screen split"
                    (click)="closeTable()"
                    matTooltip="Close table"
                    > <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <div *ngIf="loading" class="spinner-container">
            <mat-spinner color="accent" class="center-spinner"></mat-spinner>
        </div>
    </div>
    </pbl-ngrid>
