<div *ngIf="loading$ | async as loading; else showMap" class="full-height" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner color="accent"></mat-spinner>
</div>

<ng-template #showMap>
<div leaflet class="full-height"
     *ngIf="markerClusterData"
     [leafletOptions]="options"
     [leafletMarkerCluster]="markerClusterData"
     (leafletMapReady)="onMapReady($event)"
     (window:resize)="onResize($event)"
    >
  <div *ngIf="polygonLayer" [leafletLayer]="polygonLayer"></div>
</div>
</ng-template>
