@import '~@angular/material/theming';
@import '~@pebula/ngrid/theming';

@include mat-core();

// Creating a Material theme
$my-app-primary: mat-palette($mat-grey, 900);
$my-app-accent:  mat-palette($mat-amber, 500, 900, A100);
$my-app-warn:    mat-palette($mat-red);
$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);

// Updating the theme to include ngrid definitions
$my-app-theme: pbl-dark-theme($my-app-theme);

// rendering the Material theme
@include angular-material-theme($my-app-theme);
// rendering the NGrid theme
@include pbl-ngrid-theme($my-app-theme);
