<div class="splitter-container" (window:resize)="onResize($event)">
  <as-split [direction]="splitterOrientation" (dragEnd)="splitDragEnd($event)">
    <as-split-area [size]="mapSize">
      <app-open-layers-map [mapView]="mapView"
                           [loading$]="loading$"
                           [bridges$]="bridges$"
                           [searchMarkers$]="searchMarkers$"
                           [position$]="position$"
                           (bbox)="onMapMove($event)"
                          ></app-open-layers-map>
    </as-split-area>

    <as-split-area [size]="tableSize">
      <div class="grid">
        <app-attribute-grid [bridges$]="bridges$"></app-attribute-grid>
      </div>
    </as-split-area>
  </as-split>
</div>
